html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width:100%;
  background: url(/public/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
}
.nav{

}
.tab-content{
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    overflow: scroll;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto";
}
/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}
/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

.content {
  padding-top:    10rem;
  padding-bottom: 4rem;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (min-width: 64em) {
  .content {
    max-width: 70rem;
    margin-left: 20rem;
    margin-right: 20rem;
  }
}
